<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<select id="idchk" parameterType="mvo" resultType="int">
		select count(*) cnt from member where m_id=#{m_id}
	</select>
	
	<insert id="signup" parameterType="mvo">
		INSERT INTO MEMBER VALUES(
		MEMBER_SEQ.NEXTVAL, 
		#{m_id}, #{m_pwd}, #{m_name}, 1, #{m_jumin}, #{m_tel},
		SYSDATE
		)
	</insert>
	
	<select id="loginChk" parameterType="mvo" resultType="mvo">
		SELECT m_name, COUNT(*) CNT
		FROM MEMBER
		WHERE m_id = #{m_id} AND m_pwd = #{m_pwd}
		GROUP BY m_name
	</select>
	
	<select id="detail" parameterType="String" resultType="mvo">
		select M_NUM, M_ID ,M_PWD, M_NAME, M_DIVISION , M_ADATE 
		from member where M_ID = #{userID}
	</select>
	
	<select id="findid" parameterType="mvo" resultType="mvo">
      select m_ID, m_NAME from member 
	  where m_NAME=#{m_name} and m_tel=#{m_tel}
	</select>
	
</mapper>